/* Work sens */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
 /* *{
    box-sizing: border-box;
}  */


/* This is navbar section */
nav{
    /* width: 1920px;
height: 130px; */
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

align-items: center;

}
.navbar-container{
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}
.navbar-frame{
     display: flex;
     gap: 20px;
     align-items: center;
     
}
.navbar-frame img{
    width: 86.041px;
height: 40px;

    object-fit: cover;
     align-items: center;
    
}
.navbar-home {
     display: flex;
    color: #3C354F;
text-align: center;
gap: 30px;
font-size: 18px;

font-weight: 500;

}

.navbar-icon{
    display: flex;
    width: 262px;
height: 56px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding-left:24px;
}
.navbar-icon span img{
    padding-top: 18px;
    padding-left: 15px;
}
.img-span{
    padding-left: 10px;
}

.text-gamer{
    text-align: center;

font-size: 45px;

font-weight: 700;

}
.navbar-name{
    text-align: center;
}
.heading{
    color: #FF42A5;
}

/* This is banner-section */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* width: 1920px;
    height: 700px; */
}


.banner-text h3{
    color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 600;
 text-transform: uppercase;
 padding-top: 10px;
}
.banner-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 95px;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
margin-top: -50px;
}
.banner-text p{
    color: #534C64;
font-size: 20px;
font-weight: 500;
line-height: normal;

}
 .para{
    margin-top: -50px;
   margin-left: 20px;
} 
.button-container{
    display: flex;
    gap: 20px;
}
.btn-1{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
border: 0;
}
.btn-2{
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
border: 0;
}

/* This is online games section */
.online-games-container{
    margin-top: 100px;
    width: auto;
}
.online-games-text{
    text-align: center;
}
.online-games-text h3{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
}
.online-games-text p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
margin-top: -30px;
}
.liner{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.online-games-image{
    display: flex;
   
   
   padding-left: 240px;
   gap: 30px;
   margin-top: 50px;
}
.online{
    position: relative;
  display: inline-block;
}
.overlayy{
    position: absolute;
    top: 0;
    left: 0;
    width: 342px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-radius: 16px;
}
.online:hover .overlayy{
    opacity: 1;
}
.overlayy img{
    
    margin-left: 90px;
    width: 50px; 
    height: 50px;
}
 .overlayy .txt{
    color: #F948B2;
    margin-top: 100px;
    
    font-weight: bold;
    text-align: center;
    align-items: center;
} 

/* This is fourth section */


.imgg-1 img{
    /* width: 710px;
height: 650px; */
border-radius: 8px;
margin-left: 200px;
}
.imgg-2 img{
    border-radius: 8px;
border: 10px solid #FFF;
/* width: 318px;
height: 365px; */
position: relative;
margin-top: 420px;
margin-left: -200px;

}
.fourth-section-image-container{
    display: flex;
}
.fourth-section-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}
.fourth-text{
    color: #0B0223;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.fourth-section-text p{
    color: #534C64;
    
    font-size: 18px;
   
    font-weight: 400;
    line-height: 30px; 
}

/* This is fifth section */


.fifth-section-container{
    margin-top: 150px;
}
.first, .second{
        display: flex;
        gap:20px
}
.first-five, .second-four{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 250px;
    padding-right: 200px;
    
}
.second-four{
    padding-left: 350px;
    padding-right:250px ;
    margin-top: 50px;
}
.first{
    color: black;
  border: none;
  transition: color 0.2s, border 0.2s;

}
.first:hover{
    color: #F948B2;
  border: 2px solid #F948B2;
  border-radius: 50px;

background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.second{
    color:black;
    border: none;
    transition: color 0.2s, border 0.2s;
}
.second:hover{
    color: #F948B2;
    border: 2px solid #F948B2;
    border-radius: 50px;
  
  background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* This is footer section */


.footer-container{
    /* width: 1920px;
height: 636px; */
 background: #0B0223; 
/* align-items: center;
text-align: center; */
/* border: 1px solid red; */
/* background: #F948B2;  */
align-items: center;
text-align: center;
margin-top: 150px;
padding-bottom: 100px;
}
.paragraph-div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding-left: 500px;
    padding-right: 500px;
}
.paragraph-div p{
    color: #FFF;
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
#ft{
   padding-top: 100px;
    padding-left: 800px;
}
.sesh{
    color: white;
}
.icon-div{
    margin-top: 50px;
}
.icon-div a{
    
    margin: 20px;
}
.footer-pera{
    display: flex;
    justify-content: space-around;
    padding-left: 600px;
    padding-right: 600px;
    margin-top: 50px;
}
.footer-pera p{
    color: rgba(255, 255, 255, 0.60);

font-size: 16px;
font-style: normal;

line-height: normal;
}
.pp{
    color: rgba(255, 255, 255, 0.60);
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/* For mobile devices */

@media screen and (max-width:425px) {
    
    nav,.banner-container, .navbar-container{
    flex-direction: column;
    width: 100%;
    height: 100%;
    
background: #FFF;
   } 
   .banner-container{
    padding-top: 50px;
    background: #FFF;
    flex-direction: column-reverse;
   }
   .section-img img{
    width: 100%;
   }
    .navbar-home{
    flex-direction: column;
   }
   .online-games-container{
    width: 100%;
    height: 100%;
   }
   .online-games-image{
    flex-direction: column;
    align-items: center;
    padding: 50px;
   }
   .overlayy{
    width: 100%;
    height: 83%;
   }
   #bbt{
    width: 50px;
   }
   #bonus{
       
   }
   .online-games-image img{
     width: 100%; 
   } 
   .online-games-text{
    width: 100%;
   }
   .online-games-text h3{
    width: 100%;
    
   }
   .fourth-section-container{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
   }
 
.imgg-1 img{
    margin-left: 0;
    width: 100%;
}
.imgg-2 img{
    width: 200%;
    margin-top: 150px;
    margin-left: -100px;
   
    padding: 0px;
}

.first-five{
   
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 0px;
    padding-right: 0px;
}
.second-four{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 0px;
    padding-right: 0px;
}
footer, .footer-container{
    width: 100%;
    
    
#ft{
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
}
.paragraph-div{
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.icon-div{
    display: grid;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.footer-pera{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-frame img{
    padding-left: 50px;
}
}
}




/* For Medium devices */
@media screen and (min-width:426px) and (max-width:794px){
    nav,.banner-container, .navbar-container{
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: #FFF;
    }
    .banner-container{
        padding-top: 50px;
        background: #FFF;
        flex-direction: column-reverse;
       }
       .section-img img{
        width: 100%;
       }
       .online-games-container{
        width: 100%;
        height: 100%;
       }
       .online-games-image{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        align-items: center;
        padding: 50px;
       }
       .online-games-image img{
         width: 100%; 
       } 
       .overlayy{
        width: 100%;
        height: 83%;
       }
       #bbt{
        width: 50px;
       }
       
       .online-games-text{
        width: 100%;
       }
       .online-games-text h3{
        width: 100%;
} 
.fourth-section-container{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    
   }
   .imgg-1 img{
    margin-left: 0;
    width: 100%;
}
.imgg-2 img{
    width: 200%;
    margin-top: 250px;
    margin-left: -150px;
   
    padding: 0px;
}
.first-five{
   
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 0px;
    padding-right: 0px;
}
.second-four{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-left: 0px;
    padding-right: 0px;
}
footer, .footer-container{
    width: 100%;
    
    
#ft{
    padding-left: 0px;
    padding-top: 0px;
    width: 100%;
}
.paragraph-div{
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.icon-div{
    display: grid;
    padding-left: 0px;
    padding-right: 0px;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.footer-pera{
    padding-left: 0px;
    padding-right: 0px;
}
.navbar-frame img{
    padding-left: 230px;
}
}
}
